.a {
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
    text-align: center;
}

.para{

    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 30px;
    text-align: justify;

}




.img{

    width: 80%;
}

/* @media query
@media(max-width:768px)
{


    .img{

        width: 100;
        margin-top: 18px;
    }
}
 */

 .btn{

    color: #ffffff;
    padding: 10px 20px;
    font-weight: bolder;display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }

 .wbtn{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fbac29;
 }


 .why{


    background-image: url('../image/bannerabout.jpg');
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
 }


.heading

{

    text-align: center!important;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
    color: #ffffff;
    margin-left: 0.25rem!important;
    margin-top: 102px;


}

.p1{

    color: #ffffff;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 30px;
    text-align: justify;

}



.mtop{

   
    margin-top: 30px;
    margin-bottom: 100px;
}

.btn{

    color: #ffffff;
    padding: 10px 20px;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    /* border-radius: 0.25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

 .container-fluid{

    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.weblogo{

    width: 65px;
}

.container large{

    margin-top: 102px;
    margin-bottom: 102px;
}
.why2{



    background-image: url( ' ../image/outletbanner.png');
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px !important;
    background-size: cover;
}

.mainfooter {
    background: #020306f0;
    padding: 50px;
    color: #fff;

}
.foot-add{
    padding: 15px;
}


/* navbar css start  */

.weblogo{


    width: 65px;


}


.navbar{

    background-color: #0000009c;
}

.navbar-nav li{

    padding: 0 10px;

}

.navbar-nav li a{


    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.c{

    text-align: center;
}

.moblogo{

    display: none;
}

@media(max-width: 700px){

    .moblogo{
        display: block;

    }

    .weblogo{

        display: none;

    }

    .navbar{

        background: #fcb01b;
    }
}




/* about page css start */


.img-title {
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0%;
    right: 0;
    top: 45%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.priyank-content{

    font-size: 15px;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;


}

.contact{

    padding-right: 70px;
    padding-left: 70px;
}

.contact-us{

    padding: 3%;
}

.contact-us-2{

    padding: 3%;
}

.meet-the-team{


    margin: 0px !important;
}

.priyank{

    margin-left: 15px;
}
.priyank-image{


    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.meet-the-team2 {
    padding-top: 2%;
    padding-left: 3%;
}

.box16{

    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 20px;
}

.box16 .box-content{

    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    left: 0;

}

.box16 .post{


    display: block;
    padding: 3px 0;
    font-size: 15px;
}

.banner-content{

    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
}

.ml-1{

    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}

.careers-style{

    padding: 2%;
    padding-right: 85px;
    padding-left: 85px;
}

.card{

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;



}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}


.pr-div .nav-pills .nav-link.active {
    background-color: transparent;
    border-bottom: 2px solid #aba7a7;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000;
    background-color: #ffffff;
}

.nav-link {
    padding: 0.5rem 0rem;
}

.pr-iocn{
    width: 24px;
    margin-right: 0.5rem;
    margin-top: -0.35rem;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

.tab-content>.active {
    display: block;
}
/* .tab-content>.tab-pane {
    display: none;
} */
.fade {
    transition: opacity .15s linear;
}

.gallery-grid[_ngcontent-xnu-c4] {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.gallery-grid[_ngcontent-xnu-c4] li[_ngcontent-xnu-c4] {
    width: 270px;
    display: inline-block;
    overflow: hidden;
    outline: 0;
    height: 340px;
    -o-object-position: top;
    object-position: top;
    vertical-align: top;
    padding: 0px 0 0px 0;
    margin: 1px;
}

.gallery-grid[_ngcontent-xnu-c4] li[_ngcontent-xnu-c4] img[_ngcontent-xnu-c4] {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    vertical-align: top;
}
.pr-images[_ngcontent-xnu-c4] {
    padding: 20px;
}



@media (min-width: 576px){
.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}

.gallery-grid[_ngcontent-nkc-c3] li[_ngcontent-nkc-c3] img[_ngcontent-nkc-c3] {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    vertical-align: top;
}
.pr-images[_ngcontent-nkc-c3] {
    padding: 20px;
}
img {
    vertical-align: middle;
    border-style: none;
}


.online-mention[_ngcontent-xnu-c4] {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 80px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

.scrollable[_ngcontent-xnu-c4] {
    height: 425px;
    overflow-y: scroll;
}

.flex-column {
    flex-direction: column!important;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
p[_ngcontent-xnu-c4] {
    font-size: 14px;
}

p[_ngcontent-xnu-c4] {
    font-size: 14px;
}
p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
}
a[_ngcontent-xnu-c4] {
    color: #060606;
    cursor: pointer;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}